/* Fonts */
@import 'inter-ui/inter';

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

/* Custom global styles */
::selection {
    @apply bg-gray-dark;
    text-shadow: none;
}
html {
    @apply font-sans;
    font-size: 15px;
}
@media screen and (min-width: 640px) {
    html {
        font-size: 16px;
    }
}
body {
    @apply antialiased;
    @apply bg-background;
    @apply text-body;
    text-rendering: optimizeLegibility;
}
a { @apply text-link; }
a:hover { @apply underline; }
button:focus {
    @apply shadow-outline;
    outline: none;
}

/* Everything else */
@tailwind utilities;
